@model FootballLeagues.Web.Areas.Admin.Models.News.NewsInputModel
@{
    ViewBag.Title = "Post News";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("PostNews", "NewsAdmin", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new {@class="text-danger"})
    
    <div class="form-group">
        @Html.LabelFor(m => m.Title, new { @class = "col-md-1 control-label" })
        <div class="col-md-11">
            @Html.EditorFor(m => m.Title)
        </div>
    </div>
    <div class="form-group">
        @Html.EditorFor(m => m.Content)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Tags, new { @class = "col-md-1 control-label" })
        <div class="col-md-11">
            @Html.EditorFor(m => m.Tags)                      
        </div>
    </div>
    <div class="form-group text-center">
        <input type="submit" value="Post" class="btn btn-warning btn-lg" />
    </div>
}


